<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-utf-8">
  <title>Some Website </title>
</head>
<body>
  {{> header}}
<p> We are currently upgrading our app as part of maintenance, we will be back shortly  </p>
{{> footer}}
</body>
</html>
